body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(235, 235, 235);
}

a {
  color: #00B7FF;
}

.container-fluid {
  height: 90vh !important;
}

#layout {
  height: 100vh;
}

 .horizontal-scrollable {
  overflow-x: auto;
  overflow-y: hidden;
}

#localVideo, #presenterVideo {
  height: 100%;
  width: auto;
}

.control {
  width: 3rem;
  height: 3rem;
}
/*
.horizontal-scrollable > .row > .col-4 {
  display: inline-block;
  float: none;
} */
/* 
#presenter {
  height: 75%;
}

#particiants {
  height: 25%;
} */
